/* GLOBAIS */
:root {
  --green: #00ff00;
  --white: #ffffff;
  --black: #000000;
}

* {
  color: var(--fontColor);
  font-family: helvetica;
}

body {
  font-family:monospace, sans-serif;
  background: var(--bg);
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  margin: 24px;
  
}

/* LISTA */
ul {
  font-family: helvetica;
}


li {
  list-style: circle;
}

.list {
  list-style: square;
}

/* TEMAS */
.light-theme {
  --bg: var(--green);
  --fontColor: var(--black);
  --btnBg: var(--black);
  --btnFontColor: var(--white);
  }

.dark-theme {
  --bg: var(--black);
  --fontColor: var(--green);
  --btnBg: var(--white);
  --btnFontColor: var(--black);
}

/* BOTAO */

.btn {
  position: relative;
 
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
  font-family: helvetica;
}

.btn:focus {
  outline-style: none;
}





